.data-elements{
  background: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, 380px);
  max-width: 50%;
  margin: 2rem auto;
}

.data-elements > div {
  margin: 1rem auto;
  padding: 1rem;  
}
